body
{
	background: #424242;
}

.logo{
	margin-top: -30px;
	margin-bottom: 50px;
}

.container1{
	background: #000000;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 100px #000000;
}
.container2{
	margin-bottom: 10px;
}
.container3{
	margin-bottom: 10px;
}


.customnav ul li{
	display: block;
}

.customnav ul ul{
	list-style-type: none;
	margin-left: -33px;
	margin-top :0px;
	position:absolute;
    left:0;
    z-index: 1;
    top:50px;
    max-height:0;
    overflow:hidden;
    -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin:50% 0;
    -webkit-transition:350ms;
    -moz-transition:350ms;
    -o-transition:350ms;
    transition:350ms;

}
.customnav ul li:hover ul{
	max-height:1000px;
    -webkit-transform:perspective(400) rotate3d(0,0,0,0);
}
.customnav ul li ul li{
	width: 140px;
	position: relative;
    display: block;
}


.customnav ul li ul li a{
	display: block;
	background-color: #eee;
	position: relative;
	padding: 10px 15px;
	padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.customnav ul li ul li a:hover{
	text-decoration: none;
    background-color: #eee;
}

.slider .item img{
	width: 900px;
	height: 450px;
}

.slider .item .container .carousel-caption h1{
	background-color: rgba(0,0,0,0.5);
}

.recentartikel{
	background:#424242;
	color: #FFF;
	
}
.artikel{
	background: #424242;
	margin-left: 30px;
	margin-bottom: 10px;
}
.artikel h1{
	color: #FFF;
}
.ukuran .item img{
	width:140px;
    height:200px;
}

.posisi{
	margin-left: 40px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.text-font{
	color: white;
}
.cast img{
	height: 60px;
	width: 45px;
	display: block;
}
.table>tbody>tr>td{
	vertical-align: middle;
}
.ssimg{
	height: 200px;
	width: 350px;
	display: block;
}
.btn-glyphicon { 
	padding:8px;
	 background:#ffffff; 
	 margin-right:4px; 
}
.icon-btn { 
	padding: 1px 15px 3px 2px; 
	border-radius:50px;
}

.btn-download{
	margin-top: 10px;
	margin-left: 70px;
}